{% extends "layout.html" %}

{% block content %}
<div style="max-width:400px; border-top:0px solid gainsboro; padding-top:5;">
<!-- <img src="{{url_for('static',filename='elo.jpg')}}" style="height:140px;padding:5 10 0 0; float:left;" class="w3-hover-sepia"/> -->

<h3>Methodology</h3>

<div style="text-align:left;">
<p><em>Elo scoring</em> is the eponymous scoring system of physics professor and chess grandmaster Arpad Elo. It was developed to predict the outcome of a match between any two players, given their current Elo scores.</p>

<p>All members of a set begin with a default score of 800. The premise is simple: once you log in, you will be presented with random pairings from Society; all you must do is choose – with which of the two members would you prefer to khhhhhhhang one?</p>

<p>Once you cast your vote, the computer increments and deducts a certain number of points to the respective winner and loser of the match. As more votes are cast, the cream begins to rise to the top. <a href="https://www.youtube.com/watch?v=mzrBAM9LH0M" target="_blank">All that hot white cream inside you</a>, it rrrRRRRRRRISES!!</p>
</div>

<h3>Interpretation</h3>

<div style="text-align:left;">
<p>A player who attains a score 400 points higher than another can be said to be ~9x more preferable. In other words, for every 100 matches between Player A (1200 pts) and Player B (800 pts), the Elo system predicts 90 matches go to Player A.</p>

<p>Thus, in <strong>SocietyRank</strong>, a difference of 400 means the higher scored society member is ~9x times more likely to be selected. Fortunately, real-world hangs are not subject to such constraints. Happy ranking!</p>

<p style="float:right;padding-right:40px;"><br />Muuuuuhahahahaha!<br />—pmg, 2018 january 17</p>
</div>

{% block footer %}
{% endblock %}


{% endblock %}
