{% extends "layout.html" %}

{% block content %}

{% if not current_user.is_anonymous %}
Welcome <b>{{current_user.username}}</b>.&nbsp;&nbsp;<a href="{{url_for('logout')}}">logout</a><br />
<br />
{% endif %}






{% if current_user.is_anonymous %}
<form action="/logmein" method="POST" style="background-color:lightblue; padding:5 0 10 5;">
username <input type="text" name="username"><br />
p@ssw3rd <input type="text" name="pw"><br />
<input type="submit" value="log me in bruh">
</form>
<span style="color:red;background-color:floralwhite;">You must be logged in to vote, broh.</span>
{% else %}
<div style="background-color:palegreen; padding:15 0 15 15;">
    {% if current_user.votes_left > 0 %}
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          <input type="submit" name="nickname" value="{{x.nickname}},{{x.species}}"  />
          <input type="hidden" name="winner_id" value="{{x.id}}"  />
          <input type="hidden" name="winner_score" value="{{x.score}}"  />
          <input type="hidden" name="loser_id" value="{{y.id}}"  />
          <input type="hidden" name="loser_score" value="{{y.score}}"  />
        </form>&nbsp;<i>v.</i>&nbsp;
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          <input type="submit" name="nickname" value="{{y.nickname}},{{y.species}}"  />
          <input type="hidden" name="winner_id" value="{{y.id}}"  />
          <input type="hidden" name="winner_score" value="{{y.score}}"  />
          <input type="hidden" name="loser_id" value="{{x.id}}"  />
          <input type="hidden" name="loser_score" value="{{x.score}}"  />
        </form>
        <br /><br />
        <span style="font-family:monospace;">You have {{current_user.votes_left}} votes left.</span><br />
    {% else %}
        No more votes for you! Thanks for playing.
    {% endif %}
</div>
{% endif %}

<br /><br /><br /><br /><br /><br /><br /><br />



{% endblock %}
