{% extends "layout.html" %}

{% block content %}
<center>

{% if current_user.is_anonymous %}
    <span style="color:red;background-color:floralwhite;">You must be logged in to vote, broh.</span>
    <form action="/" method="post" style="background-color:;padding:5 0 10 5;border:1px solid gainsboro;">
        {{ wtfform.hidden_tag() }}
            username {{ wtfform.username() }}
            {% for x in wtfform.username.errors %}
            &nbsp;<span style="color:red;background-color:floralwhite;">&nbsp;<<&nbsp;{{ x }}</span>
            {% endfor %}<br />

            p@ssw3rd {{ wtfform.password() }}
            {% for x in wtfform.password.errors %}
            &nbsp;<span style="color:red;background-color:floralwhite;">&nbsp;<<&nbsp;{{ x }}</span>
            {% endfor %}<br />

            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <span style="color:red;background-color:floralwhite;">{{ message }}</span><br />
                        {% endfor %}
                    {% endif %}
            {% endwith %}

            {{ wtfform.submit() }}
    </form>

{% else %}
<!-- only need keyboard shortcuts after log in; o/w prevents typing of '1','2' on login form -->
<script type="text/javascript">
$(function(){
 $(document).keypress(function (e) {
 var key = e.which;
 if(key == 49)
  {
    $('input[name = person1]').click();
    return false;
  }
 if(key == 50)
 {
   $('input[name = person2]').click();
   return false;
 }
});

});
</script>

Welcome <b>{{current_user.username}}</b>.&nbsp;&nbsp;<a href="{{url_for('logout')}}">logout</a><br />
Your current SocietyRank score is <span style="font-family:monospace;background-color:yellow;">{{current_user.person.score}}</span><br />
Check out <a href="/profile/{{current_user.person.id}}">your profile page</a>. (Maybe someone left you a comment, eh?)
<br /><br />
<!-- <i>For maximum voting efficiency, you can press <span style="font-family:monospace;font-style:normal;background-color:yellow;">1</span> or <span style="font-family:monospace;font-style:normal;">2</span> on your keyboard.</i> -->
<div style="background-color:palegreen; padding:15 0 15 0;">
    {% if current_user.votes_left > 0 %}
    <center>
    <span style="font-family:monospace;font-size:24px;">You have <b>{{current_user.votes_left}}</b> votes left.</span><br /><br />
    <table>
      <tr>
        <td>
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          {{ voteform1.csrf_token }}
          <input type="submit" name="person1" value="{{x.nickname}}" style="font-size:24px;cursor:pointer;" />
          <input type="hidden" name="winner_id" value="{{x.id}}"  />
          <input type="hidden" name="loser_id" value="{{y.id}}"  />
        </form>
        </td>
        <td>&nbsp;<i>v.</i>&nbsp;</td>
        <td>
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          {{ voteform2.csrf_token }}
          <input type="submit" name="person2" value="{{y.nickname}}" style="font-size:24px;cursor:pointer;" />
          <input type="hidden" name="winner_id" value="{{y.id}}"  />
          <input type="hidden" name="loser_id" value="{{x.id}}"  />
        </form>
        </td>
      </tr>
      <tr><td style="text-align:center">press #1</td><td></td><td style="text-align:center">press #2</td></tr>
    </table>
    {% else %}
        No more votes for you! Thanks for playing.
    {% endif %}
    </center>
</div>
{% endif %}

<div class="thesection">
<div class="announcements">A total of<span style="font-family:monospace;">&nbsp;<span style="background-color:pink;">{{"{:,}".format(system_votes) }} votes</span>&nbsp;</span>have been cast so far.</div>
<div class="rankings">
<table style="border-collapse:collapse;vertical-align:text-top;">
{% for e in current_rankings %}

<tr style="border-bottom:;">

<td style="text-align:right;width:40px;padding-right:4px;padding-left:0px;">
<span style="font-family:monospace;background-color:yellow;">{{e.score}}</span>
</td>

<td style="padding:0 10 0 6;">#{{loop.index}}</td>

<td>
<span style="color:steelblue;">
  <a href="/profile/{{e.id}}">{{e.nickname}}</a>&nbsp;&nbsp;&nbsp;
</span>
</td>

<td style="text-align:right;">
<span style="font-family:;font-size:12px;color:{% if e.last_change >= 0 %}green;background-color:lightgreen;">&nbsp;&plus;{% else %}red;background-color:lavenderblush;">&nbsp;{% endif %}{{e.last_change}}&nbsp;</span>
</td>

</tr>

{% endfor %}
</table>

<br /><br />

</div>

<div class="recent-activity">
<span style="color:red;">recent comments</span><br />
{% for x in recent_comments %}
<span style="font-family:monospace;">{{x.comment}} -->&nbsp;</span>
<a href="/profile/{{x.person_id}}">{{x.about.nickname}}</a><br />
{% endfor %}

<br />

<span style="color:red;">recent votes</span><br />
{% for x in recent_votes %}
<span style="background-color:rgba(0, 255, 0, 0.25);">{{x.winner.nickname}}</span> 
<i>&nbsp;&nbsp;v.&nbsp;&nbsp;</i> 
<span style="background-color:rgba(255, 0, 0, 0.25);">{{x.loser.nickname}}</span><br />
{% endfor %}
<br /><br /><br />
</div>
</div>



</center>
{% endblock %}
