{% extends "layout.html" %}

{% block content %}

<script type="text/javascript">
$(function(){
 $(document).keypress(function (e) {
 var key = e.which;
 if(key == 49)
  {
    $('input[name = person1]').click();
    return false;
  }
 if(key == 50)
 {
   $('input[name = person2]').click();
   return false;
 }
});

});
</script>

{% if not current_user.is_anonymous %}
Welcome <b>{{current_user.username}}</b>.&nbsp;&nbsp;<a href="{{url_for('logout')}}">logout</a>
<br /><br />
{% endif %}



{% if current_user.is_anonymous %}
    <span style="color:red;background-color:floralwhite;">You must be logged in to vote, broh.</span>
    <form action="/" method="post" style="background-color:;padding:5 0 10 5;border:1px solid gainsboro;">
        {{ wtfform.hidden_tag() }}
            username {{ wtfform.username() }}
            {% for x in wtfform.username.errors %}
            &nbsp;<span style="color:red;background-color:floralwhite;">&nbsp;<<&nbsp;{{ x }}</span>
            {% endfor %}<br />

            p@ssw3rd {{ wtfform.password() }}
            {% for x in wtfform.password.errors %}
            &nbsp;<span style="color:red;background-color:floralwhite;">&nbsp;<<&nbsp;{{ x }}</span>
            {% endfor %}<br />

            {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <span style="color:red;background-color:floralwhite;">{{ message }}</span><br />
                        {% endfor %}
                    {% endif %}
            {% endwith %}

            {{ wtfform.submit() }}
    </form>

{% else %}
<!-- <i>For maximum voting efficiency, you can press <span style="font-family:monospace;font-style:normal;background-color:yellow;">1</span> or <span style="font-family:monospace;font-style:normal;">2</span> on your keyboard.</i> -->
<div style="background-color:palegreen; padding:15 0 15 15;">
    {% if current_user.votes_left > 0 %}
    <table>
      <tr>
        <td>
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          <input type="submit" name="person1" value="{{x.nickname}}" style="font-size:24px;cursor:pointer;" />
          <input type="hidden" name="winner_id" value="{{x.id}}"  />
          <input type="hidden" name="loser_id" value="{{y.id}}"  />
        </form>
        </td>
        <td>&nbsp;<i>v.</i>&nbsp;</td>
        <td>
        <form action="{{url_for('ello')}}" method="post" style="display:inline;">
          <input type="submit" name="person2" value="{{y.nickname}}" style="font-size:24px;cursor:pointer;" />
          <input type="hidden" name="winner_id" value="{{y.id}}"  />
          <input type="hidden" name="loser_id" value="{{x.id}}"  />
        </form>
        </td>
      </tr>
      <tr><td style="text-align:center">press #1</td><td></td><td style="text-align:center">press #2</td></tr>
    </table>
        <br />
        <span style="font-family:monospace;">You have {{current_user.votes_left}} votes left.</span><br />
    {% else %}
        No more votes for you! Thanks for playing.
    {% endif %}
</div>
{% endif %}

<br />
<table style="border:0px solid black;border-collapse:collapse;">
{% for e in current_rankings %}

<tr>

<td style="text-align:right;">
<span style="font-family:;font-size:12px;color:
{% if e.last_change >= 0 %}
green;background-color:lightgreen;">&nbsp;&plus;
{% else %}
red;background-color:lavenderblush;">&nbsp;
{% endif %}{{e.last_change}}&nbsp;</span>
</td>

<td style="text-align:right;width:40px;padding-right:4px;padding-left:18px;">
<span style="font-family:monospace;background-color:yellow;">{{e.score}}</span>
</td>

<td>
<span style="color:steelblue;">
  <a href="/profile/{{e.id}}">{{e.genus}} {{e.species}}</a>
</span> (&ldquo;{{e.nickname}}&rdquo;)
</td>
</tr>

{% endfor %}
</table>

<br /><br /><br /><br /><br /><br /><br /><br />



{% endblock %}
