{% extends "layout.html" %}

{% block content %}

<span style="color:;"><h3>Welcome to {{person.nickname}}&rsquo;s page</h3></span>

{% if current_user.is_anonymous == False and current_user.person_id != profile_id|int %}
  {% if current_user.comments_left > 0 %}
  Leave an anonymous comment&#128527; You have {{current_user.comments_left}} left.<br />
      <form action="" method="post">
          {{ commentbox.hidden_tag() }}
          {{ commentbox.comment(cols="60",rows="5",maxlength="280") }}
          {% for x in commentbox.comment.errors %}
          <br /><span style="color:red;background-color:floralwhite;">{{ x }}</span>
          {% endfor %}
          <input type="hidden" name="profile_id" value="{{profile_id}}" />
          <input type="hidden" value="just a spacer" /><br />
          {{ commentbox.submit }}
      </form>
  {% else %}
  <span style="background-color:yellow;">No more comments for you!!</span>
  <br />
  {% endif %}
<br />
{% endif %}


{% if comments == [] %}
  <span style="background-color:yellow;">Aww, no comments yet. Leave one!</span>
{% else %}
  {% for comment in comments %}
  submitted <span style="color:red;">2017 jan 3, 00:09:43:42</span>
  <div style="background-color:;max-width:390px;padding:0 0 0 0;font-family:monospace;">{{comment.comment}}</div><br />
  {% endfor %}
{% endif %}

{% endblock %}
