{% extends "layout.html" %}

{% block content %}

{% if not current_user.is_anonymous %}
hey.<br />
hey {{current_user.person.species}} ... what's wrong?<br />
you worried broh?<br /><br />
{% endif %}

<table style="border:0px solid black;border-collapse:collapse;">
{% for e in current_rankings %}

<tr>

<td style="text-align:right;">
<span style="font-family:;font-size:13px;color:
{% if e.last_change >= 0 %}
green;background-color:lightgreen;">&nbsp;&plus;
{% else %}
red;background-color:lavenderblush;">&nbsp;
{% endif %}{{e.last_change}}&nbsp;</span>
</td>

<td style="text-align:right;width:40px;padding-right:4px;">
<span style="font-family:monospace;">{{e.score}}</span>
</td>

<td>
<span style="color:steelblue;">{{e.genus}} {{e.species}}</span> (&ldquo;{{e.nickname}}&rdquo;)
</td>
</tr>

{% endfor %}
</table>




<br /><br /><br />

<ol style="margin:0 0 0 -16;">
{% for x in current_rankings %}
<li><span style="color:steelblue;">{{x.genus}} {{x.species}}</span>, <span style="font-family:monospace;">{{x.score}}</span></li>
{% endfor %}
</ol>

{% endblock %}
