{% extends "layout.html" %}

{% block content %}

{% if not current_user.is_anonymous %}
<span style="font-family:monospace;">
hey.<br />
hey {{current_user.person.species}} ... what's wrong?<br />
you worried broh?<br /><br />
</span>
<span style="background-color:yellow;">Your current Elo ranking is <span style="font-family:monospace;font-size:14px;font-weight:bold;">{{current_user.person.score}}</span>.</span><br /><br />
{% endif %}

<ol style="margin:0 0 0 -9;">
{% for x in current_rankings %}
<li><a href="/profile/{{x.id}}">{{x.genus}} {{x.species}}</a>, <span style="font-family:monospace;">{{x.score}}</span></li>
{% endfor %}
</ol>

<br /><br /><br /><br /><br /><br />
{% endblock %}
